/* root colors */
:root{
    --primary-orange:#FD8D3A;
    --white:#FFFFFF;
    --black:#222222;
    --blue:#4086F4;
    --grey:#666666;
    --light-grey:#999999;


}
*,
*::after,
*::before{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: "Poppins", sans-serif;
}
/* base styling completed */

.wrapper{
    max-width: 1135px;
    margin: 0 auto;
}
/* NAVBAR */
.navbar {
  width: 100%;
  padding: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LOGO */
.logo {
  font-weight: 600;
  color: #222;
  font-family: Valkhov;
  font-size: 24px;
}
nav img{
    height: 18px;
}
.logo-icon {
  font-size: 18px;
  margin-left: 4px;
}

/* NAV LINKS */
.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: #444;
  font-size: 16px;
 
}



/* BUTTONS */
.nav-buttons {
  display: flex;
  gap: 20px;
  align-items: center;
}

.login {
  padding: 5px 10px;
  color: var(--primary-orange);
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
 
}

.signup {
  padding: 10px 22px;
  background: #ff7a35;
  border-radius: 6px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  transition: 0.2s;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 0;
  font-family: "Poppins", sans-serif;
}

/* LEFT SIDE */
.hero-left h1 {
  font-size: 64px;
  
  color: #1d1d1d;
  font-family: Volkhov;
  font-weight: 700;
}

.hero-left h1 span {
  color:var(--primary-orange);
}

.hero-desc {
  font-size: 20px;
  color: var(--light-grey);
}


.discover-btn {
  border: 2px solid #ff7a35;
  padding: 12px 28px;
  color: var(--primary-orange);
  border-radius: 6px;
  text-decoration: none;
  font-weight: 500;
  
}



/* RIGHT SIDE */
.hero-right {
  position: relative;
}


.traveler-img {
  width: 550px;
  height:550px;
  position: relative;
  
}

/* SEARCH BOX */
.search-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--white);
  padding: 10px 10px;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.07);
  margin-top: 40px;
  font-family: "Poppins", sans-serif;
}


.search-box .item p {
  font-size: 16px;
}
.inside{
    font-size: 12px;
    color:var(--grey);
}
.explore-btn {
  background: #ff7a35;
  color: var(--white);
  padding: 15px 28px;
  text-decoration: none;
  border-radius: 08px;
  font-weight: 500;
  font-size: 18px;
}

.things-section {
  text-align: center;
  padding: 80px 0;
  background: #f6f8fc; 
  font-family: "Poppins", sans-serif;
}

.things-title {
  font-size: 38px;
  color: var(--black);
  font-weight: 700;
  
}

.things-title span {
  color: var(--primary-orange);
}

.things-subtitle {
  margin-top: 10px;
  font-size: 15px;
  color: var(--grey);
}

/* CARD WRAPPER */
.things-cards {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
 
}

/* EACH CARD */
.thing-card {
  background: #fff;
  width: 330px;
  padding: 35px 25px;
  border-radius: 15px;
  text-align: left;
  box-shadow: 0 15px 40px rgba(0,0,0,0.07);
  position: relative;
  overflow: hidden;
}
/* TITLE */
.thing-card h6 {
  font-size: 24px;
  margin-bottom: 10px;
  color: var(--black);
}

/* TEXT */
.thing-card p {
  font-size: 16px;
  color: var(--grey);
  
}










